@charset "utf-8";
/* CSS Document */
.image{width:100%px; height:212px; margin:0 auto; background:url(images/pic_02.jpg) no-repeat center center;}
/*content*/
.max_content{width:100%; background:#f7f5f4; padding-bottom:56px; padding-top:44px;}
.min_content{width:1000px; margin:0 auto;}
.min_content .left,.min_content .right{float:left;}
.min_content h2{font-size:26px; color:#f8b633; line-height:62px; font-family:"微软雅黑"; border-bottom:1px solid #dbd4cd;}
/*left*/
.min_content .left{width:168px; margin-right:76px;}
.min_content .left>ul li{line-height:35px; background:url(images/pic_06.jpg) no-repeat 15px center; border-bottom:1px solid #dbd4cd;}
.min_content .left>ul li a{font-size:12px; color:#000000; font-family:"微软雅黑"; line-height:35px; padding-left:26px; display:block; width:142px; height:35px;}
.min_content .left>ul li:hover{background:#f99d32;}
.min_content .left>ul li:hover a{color:#FFF; background:url(images/pic_01_03.jpg) no-repeat 15px center;}
.min_content .left>ul li:nth-child(2){background:none;}
.min_content .left>ul li:nth-child(2) a{display:block; background:url(images/pic_12.jpg) no-repeat 15px center;}
.min_content .left>ul li:nth-child(2) a:nth-child(1):hover{background:url(images/pic_15.jpg) no-repeat 15px center,#f99d32;}
.min_content .left>ul li:nth-child(3) .special{color:#FFF; background:url(images/pic_15.jpg) no-repeat 15px center,#f99d32;}
/*.right*/
.min_content .right{width:752px;}
.min_content .right .top{border-bottom:1px solid #dbd4cd;}
.min_content .right .top h2{border-bottom:none;}
.min_content .right .top h2,.min_content .right .top p{float:left;}
.min_content .right .top p{display:inline-block; float:right; font-size:12px; color:#333333; font-family:"微软雅黑"; line-height:50px; margin-top:12px;}
/*center*/
.min_content .right .center>ul li{margin-right:12px; margin-top:18px; width:178px; float:left;}
.min_content .right .center>ul li p{font-size:12px; color:#333333; font-family:"微软雅黑"; line-height:18px; margin-top:10px;}
.min_content .right .center>ul li a{font-size:12px; color:#fe931a; font-family:"微软雅黑";}
.min_content .right .center>ul li a:hover{color:#F00;}
.min_content .right .center>ul li:nth-child(1) p{margin-bottom:94px;}
.min_content .right .center>ul li:nth-child(2) p{margin-bottom:23px;}
.min_content .right .center>ul li:nth-child(3) p{margin-bottom:43px;}
.min_content .right .center>ul li:nth-child(4) p{margin-bottom:24px;}
.min_content .right .center>ul li:nth-child(5) p{margin-bottom:40px;}
.min_content .right .center>ul li:nth-child(6) p{margin-bottom:23px;}
.min_content .right .center>ul li:nth-child(7) p{margin-bottom:112px;}
.min_content .right .center>ul li:nth-child(8) p{margin-bottom:23px;}
.min_content .right .center>ul li:nth-child(9) p{margin-bottom:60px;}
.min_content .right .center>ul li:nth-child(10) p{margin-bottom:77px;}
.min_content .right .center>ul li:nth-child(11) p{margin-bottom:79px;}
.min_content .right .center>ul li:nth-child(12) p{margin-bottom:60px;}
/*bottom*/
.right .bottom{margin-top:50px;}
.right .bottom p,.bottom ul,.bottom select{float:left;}
.right .bottom>p{line-height:32px; font-size:12px; color:#7b7a7a; font-family:"微软雅黑"; font-weight:bold; margin-right:9px;}
span{color:#f26522;}
.right .bottom>ul{background:#FFF; padding-top:1px; padding-bottom:1px; margin-right:40px;}
.right .bottom>ul li{float:left; width:84px; margin-right:2px; background:#eae6e2; text-align:center; line-height:32px;}
.right .bottom>ul li a{font-size:12px; color:#7b7a7a; font-family:"微软雅黑";}
.right .bottom>ul li a:hover{color:red;}
.right .bottom select{width:50px; height:22px; line-height:32px; border-top:1px solid #abadb3; border:1px solid #dbdfe6; background:#FFF; margin-top:8px;}
.right .bottom select option{font-size:12px; line-height:22px; color:#000000;}