@charset "utf-8";
/* CSS Document */
.nav{ width:100%; background:#e7edd4;}
.subnav{ width:998px; margin:0 auto;}
.subnav ul li{ float:left; background:url(../image/pic_9.jpg) no-repeat left center; margin-left:15px; padding-top:1px;}
.subnav ul li:nth-child(1){ width:34px; margin-left:539px;}
.subnav ul li:nth-child(2){ width:46px;}
.subnav ul li:nth-child(3),.subnav ul li:nth-child(4){ width:66px;}
.subnav ul li:nth-child(5){ width:59px;}
.subnav ul li:nth-child(6){ width:51px;}
.subnav ul li:nth-child(7){ width:46px;} 
.subnav ul li a{ font-family:"微软雅黑"; font-size:12px; color:#5e5756; height:33px; line-height:33px; display:block; padding-left:10px;}
.subnav ul li a:hover{ color:#F00;}
.image{ width:100%; height:366px; background:url(../image/pic_1.jpg) no-repeat center center;}
.main{ width:100%; background:#f9f9f9; padding-top:40px; padding-bottom:40px;}
.submain{ width:998px; border:1px solid #ffa800; margin:0 auto; background:#ffffff;}
.submain ul li{ width:983px; border-bottom:1px dashed #cccccc;}
.submain ul li .left,.submain ul li .right{ float:left;}
.submain ul li .left{ width:181px; margin-left:15px; margin-right:19px;}
.submain ul li .left img{ padding:1px; border:1px solid #cccccc; margin-top:19px; margin-bottom:19px;}

.submain ul li .right{ width:760px;}
.submain ul li .right h2{ padding-top:11px;}
.submain ul li .right h2 a{ font-family:"微软雅黑"; font-size:20px; color:#666666; line-height:40px; font-weight:bold;}
.submain ul li .right h2 a:hover{ color:#F00;}
.submain ul li .right p{ font-family:"微软雅黑"; font-size:12px; color:#666666; line-height:25px;}
.submain>p{ padding-top:11px;}
.submain>p a{ font-family:"微软雅黑"; font-size:16px; color:#ff9900; line-height:39px; padding-left:927px;}

.footer{ width:100%}
.footer .bottom{ width:1000px; margin:0 auto; padding-top:32px;}
.footer .bottom p{ text-align:center; margin-bottom:12px;}
.footer .bottom p:first-child a{display:inline-black; text-align:center; padding-left:15px; padding-right:15px; border-right:1px solid #ccc;font-size:14px; font-family:"微软雅黑"; color:#8d908e;}
.footer .bottom p:first-child a:last-child{ border:0; padding-left:34px; background:url(../image/img_19.jpg) no-repeat 15px;}
.footer .bottom .two{ margin-bottom:24px;font-size:14px; color:#8d908e; font-family:"微软雅黑";}
.footer .bottom p a:hover{ color:red;}





















