@charset "utf-8";
/* CSS Document */
.wrap_main{width:100%; background:#f7f5f4;}
.main{width:1002px; margin:0 auto; padding-top:46px; padding-bottom:70px;}
.main .left{width:170px; margin-right:76px; float:left;}
.main .left h2,.main .right h2{height:41px; font-size:26px; color:#f99d33; font-family:Microsoft YaHei; line-height:41px; border-bottom:1px solid #dbd4cd;}
.main .left .leftNav li> a{display:block; margin-left:28px;}
.main .left .leftNav li:hover{background:#f99d32;}
.main .left .leftNav li:nth-child(2){background:none;}
.main .left .leftNav li{position:relative; height:35px; line-height:35px; border-bottom:1px solid #dbd4cd;}
.main .left .leftNav ul li:nth-child(4){background:url(images/pic__07.jpg) no-repeat 15px 16px #f99d32;}
.main .left .leftNav li img{position:absolute; top:16px; left:15px;}
.main .left .leftNav .onclick{height:251px;}
.main .left .leftNav li a{font-size:12px; color:#000000; font-family:Microsoft YaHei;}
.main .left .leftNav .sub_leftNav img{display:none;}
.main .left .leftNav .sub_leftNav li{background:url(images/pic__13.jpg) no-repeat 15px 16px;}
.main .left .leftNav .sub_leftNav li:first-child{border-top:1px solid #dbd4cd;}
.main .left .leftNav .sub_leftNav li:hover{background:#f99d32;}
.main .left .leftNav .sub_leftNav li:hover a{color:#fdf5ff;}
.main .left .leftNav .sub_leftNav li:hover img{display:block;}
.main .left .leftNav .sub_leftNav li{width:170px;}
/*main .left 结束*/
.main .right{width:756px; float:right;}
.main .right .title{border-bottom:1px solid #dbd4cd; width:755px; position:relative;}
.main .right .top{line-height:26px; color:#333333; font-size:12px; font-family:Microsoft YaHei; margin-bottom:68px;}
.main .right .h2_p{font-size:12px; color:#333333; font-family:Microsoft YaHei; position:absolute; top:15px; left:548px;} 
.main .right .bottom h3{height:77px; line-height:77px; font-family:simHei; font-size:14px; color:#575656;}
.main .right .bottom p{line-height:25px; font-size:14px; color:#575656; font-family:Microsoft YaHei; margin-bottom:26px;}
.main .right .bottom img{margin-left:127px; margin-bottom:27px;}
.main .right .bottom p:last-child{margin-bottom:93px;}
.main .right .bottom p:last-child span{color:#333333;}
