@charset "utf-8";
/* CSS Document */
body{ background:#f7f5f4;}
.main{ width:1000px; background:#ffffff; margin:0 auto;}
.main .img_1{ margin-left:55px; margin-top:30px; margin-bottom:21px;}
.main h2{ width:890px; margin-left:55px; font-family:"微软雅黑"; font-size:18px; color:#6c5a54; line-height:78px; padding-top:2px; display:block; text-align:center; border-top:1px solid #dbd4cd;}
.main h3{ width:890px; margin-left:55px; font-family:"微软雅黑"; font-size:14px; color:#333333; line-height:34px; padding-top:1px; display:block; text-align:center; border-top:1px dashed #dbd4cd; border-bottom:1px dashed #dbd4cd;}
.main p{ width:890px; margin-left:55px; font-family:"微软雅黑"; font-size:15px; color:#333333; line-height:30px; margin-bottom:23px;}
.main .img_2{ margin-left:375px; margin-bottom:55px;}
.main h4{ width:890px; margin-left:55px; font-family:"微软雅黑"; font-size:14px; color:#ff9900; line-height:33px;}
.main ul li{ width:300px; margin-left:55px; font-family:"微软雅黑"; font-size:14px; color:#333333; line-height:28px; cursor:pointer;}
.source{ width:1000px; margin:0 auto; background:#ffffff; position:relative;}
.source ul li{ float:left; width:16px; margin:15px 4px 59px 0;}
.source .img_3{ position:absolute; top:10px; left:55px;}

